@{
    ViewData["Title"] = "Map View";
}

<div class="map-container" style="width:100%; max-width:900px; margin:auto;">
    <iframe src="https://www.google.com/maps/d/embed?mid=1c4JkUO0wfK1X7ugDMiKRiSGkGyyZiHA"
            width="100%" height="500" style="border:0;" allowfullscreen>
    </iframe>
</div>