@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Download GPX tracks";
}


<h1>Download GPX tracks</h1>
<p>Select one of the following tracks and press the button::</p>

<div class="btn-group gap-2"  role="group" aria-label="Distance selection">
    <a asp-controller="Download"
       asp-action="Download10kmGPX"
       class="btn btn-outline-primary">
        📥 Download 10 km GPX
    </a>
    <a asp-controller="Download"
       asp-action="Download20kmGPX"
       class="btn btn-outline-primary">
        📥 Download 20 km GPX
    </a>
    <a asp-controller="Download"
       asp-area=""
       asp-action="Download40kmGPX"
       class="btn btn-outline-primary">
        📥 Download 40 km GPX
    </a>
</div>
