@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>@ViewData["Title"] - KazanlakRun</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/participants.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KazanlakRun.styles.css" asp-append-version="true" />
    @RenderSection("Scripts", required: false)
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <div class="container">
            <partial name="_NavigationPartial" />
        </div>
    </header>

    <main role="main" class="flex-fill">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; @DateTime.Now.Year - KazanlakRun - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>