@{
    Layout = "_Layout";
    
    ViewData["Title"] = "Грешка на сървъра";
}

<div class="text-center mt-5">
    <h1>500</h1>
    <h2>Вътрешна грешка на сървъра</h2>
    <p>Нещо се обърка. Моля опитай пак по-късно.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
        ← Към началната страница
    </a>
</div>
